
/*Various misc stylings that I could not fine tune via bootstrap*/

body {
  background-color: #212529 !important;
  font-family: 'Roboto', sans-serif;
}

#tablewrapper {
  margin-top: 5vh;
}

#apptitle {
  font-family: 'Bebas Neue', cursive;
}

#errortitle {
  padding-top: 20vh;
  font-family: 'Poiret One', cursive;
}

#errormsg {
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

#errorphoto {
  max-width: 40%;
  padding-top: 4rem;
}

#totalbox {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#redtext {
  color: rgb(209, 76, 76);
}

#greentext {
  color: #83c13c;
}

#fgflogo {
  padding-top: 20vh;
  max-width: 40%;
}

#pagetitle {
  padding-top: 5vh;
  font-family: 'Poiret One', cursive;
}

#tablestyle {
  border-color: #212529;
}

#theadcolor {
  background-color: #01673f !important;
}

button {
  margin: 1rem;
}